/*--- General Colors---*/

.header-background {
    background-color: #FBFFFE;
}

.nav-link {
    color: #011638 !important;
}

a:hover {
    color: #087E8B!important;
}

a:active {
    color: #087E8B!important;
}

.dropdown-background {
    background-color: #FBFFFE;
}

i {
   color: #011638;
}

a:hover i {
    color: #087E8B;
}

h1.form-heading {
  color: #087E8B
}

/*--- General styles---*/

h1 {
    font-family: 'Kiwi Maru', serif;
    font-size: 30px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

h4 {
    color: #087e8b;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

i {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*--- Header ---*/

    /*--- Logo styles --*/

.logo-size {
    height: 100px;
    padding-left: 50px
}

    /*--- Navigation styles --*/

.link-styles {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 55%;
}

/*--- Home Page---*/
    
    /*--- Roadtrip banner ---*/

.alert-margin {
  margin-bottom: 0;
  padding-left: 30%;
}    

.banner-background {
    background-color: #FFCA85;
    height: 150px;
}

.bn-txt-pos {
    padding-top: 60px;
    padding-left: 400px;
}

.explore-btn {
  background-color: #FFCA85;
  color: #011638;
  padding: 1em 1.5em;
  font-family:'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.exp-btn-pos {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 46%;
}

    /*--- Home Slideshow ---*/

    .slideshow-top {
      padding-top: 2%;
    }

    .image-size {
      width: 100%;
      vertical-align: middle;
    }
  
    .slideshow-container {
      max-width: 1200px;
      position: relative;
      margin: auto;
    }

    .mySlides {
      display: none;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      background-color: #FFCA85;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
      background-color: #011638;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      
    }

    .dot-pos {
      text-align:center;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }

 .fade-style {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

/*--- Map Page --*/ 

div#map {
  min-height: 450px;
  max-width: 100%;
}

.map-background {
  background-color: #aed19e;
  height: 150px;
}

.map-top-padding {
  padding: 50px 75px 0px 75px;
  background-color: #FBFFFE;
}

.bn-txt-pos2 {
  padding-top: 60px;
  padding-left: 450px;
} 

.newsletter-button {
  background-color: #FBFFFE;
  padding-top: 8%;
}

.map-pg-img {
  width: 100%;
}

.location-bttm-pdding {
  padding-bottom: 25px;
}

.into-bttm-pdding {
  padding-bottom: 100px;
}

.left-title {
  padding-left: 70%;
}
  

/*--- Footer --*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 165px;
    background-color: #FFCA85;
  }

  .footer-links li {
    float: left;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }

 li a {
    color: #011638;
    padding-right: 10px;
    
  }

  .footer-pos {
      padding-top: 40px;
  }

 .contact-pos {
   padding-left: 75px;
 } 

 .social-pos {
   padding-left: 50px;
 }

    /*--- Footer Contact Button--*/

 .contact-btn {
   background-color: #011638;
   color: #FBFFFE !important;
   padding: 1em 1.5em;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-weight: 500;
 }

   /*---Contact Form--*/

   .hide-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.contact-pop {
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: #011638;
  width: 45%;
}

.form-font {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: none;
    color: #FFCA85;
  }
  
  .label-display {
    display: block;
  }
  
  .label-width {
    width: 60%;
  }

  .close-form {
    color: #E5E8F0;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close-form:hover,
.close-form:focus {
  color: #087E8B;
  text-decoration: none;
  cursor: pointer;
}


 @media screen and (max-width: 1024px) {

  /*--- Footer Styles--*/

  .footer-pos{
    padding-top: 3%;
   }

  .explore-mobile {
    padding-left: 25%;
   } 

  .explore-head {
    padding-left: 5%;
  } 
  
     /*--- Header styles--*/


   .logo-size {
     padding-left: 5%;
   }

   /*--- Home banner styles--*/

  .bn-txt-pos {
    padding-top: 5%;
    padding-left: 17%;
   }

   /*--- Home slider styles--*/

   .image-size {
     width: 100%;
   }
 }

 @media screen and (max-width: 812px) {
  
  /*--- Footer Styles--*/

   footer {
     position: relative;
   }

   .footer-pos {
    padding-top: 3%;
   }

   .explore-mobile {
    padding-left: 20%;
   }

   .bn-txt-pos {
    padding-top: 7%;
    padding-left: 8%;
   }

   .logo-size {
     padding-left: 5%;
   }

   .alert-margin {
    padding-left: 15%;
  }

  .exp-btn-pos {
   padding-top: 5%;
   padding-bottom: 5%;
   padding-left: 43%;
  } 
 }


 @media screen and (max-width: 768px) {
  
  /*--- Footer Styles--*/

  footer {
    position: relative;
  }

  .footer-pos {
    padding-top: 3%;
  }

  .explore-head {
    padding-left: 20%;
  }

  .explore-mobile {
    padding-left: 15%;
  }

  .mobile-label {
    width: 85%;
   }

  .label-width {
    width: 65%;
  }

  .bn-txt-pos {
   padding-top: 7%;
   padding-left: 8%;
  }

  .logo-size {
    padding-left: 5%;
  }

 }

 @media screen and (max-width: 740px) {
  
  /*--- General Styles--*/

  h1 {
    font-size: 25px;
  }

  /*--- Footer Styles--*/

  footer {
    position: relative;
  }

  .footer-pos {
    padding-top: 18px;
  }

  .explore-mobile {
    padding-left: 12%;
  }

  .explore-head {
    padding-left: 20%;
  }

  .contact-btn {
    padding: .5em 1.0em;
    font-size: 16px;
  }

  .bn-txt-pos {
    padding-top: 8%;
    padding-left: 10%;
  }
 }

 @media screen and (max-width: 540px) {
   .mobile-label {
    width: 85%;
   }
   .contact-pop {
    margin: 5% auto;
    width: 65%;
   }

   .label-width {
    width: 65%;
  }
 }   

 @media screen and (max-width: 414px) {
 
  /*--- General Styles--*/

  h1 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
   }

   .bn-txt-pos {
    padding-top: 10%;
    padding-left: 8%;
   }

   .exp-btn-pos {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 35%;
   }

   /*--- Footer Styles--*/

   a i {
     font-size: 17px;
   }

   li a {
    font-size: 18px;
   }

   .footer-pos {
     padding-top: 12px;
   }

   footer {
     position: relative;
   }

   .explore-mobile {
    padding-left: 15%;
   }
   
   .explore-head {
     padding-left: 5%;
   }

   .contact-pos {
     padding-left: 5%;
  }

  .social-pos {
    padding-left: 0%;
  }

  .contact-btn {
    padding: .5em 1.0em;
    font-size: 16px;
  }

    .contact-us {
        padding-bottom: 15%;
      }
    
      .label-width {
        width: 268px;
      }
    
      textarea {
        box-sizing: border-box;
        width: 100%;
      }
    
      .mobile-label {
        padding-top: 6%;
      }

  .label-width {
     width: 95%;
   }

  .contact-pop {
    margin: 8% auto;
    width: 85%;
  }

 }